.mapboxgl-map{
    height: 82vh;
    width: 100vw;
    background-repeat: space;
}
.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh !important;
}
.content-card{
    display: inline-flex;
    width: 100vw;
    overflow-x: scroll;
    background-color: transparent !important;
    position: absolute;
    bottom: 0px;
}