.my-card{
    margin-left: 11vw;
    display: flex;
    flex-direction: column;
    width: 220px;
}
.card-img{
    width: 50px;
    height: 50px;
}
.card-prod-detail{
    display: inline-flex;
    overflow-x: scroll;
    list-style: none;
    padding-inline-start: 0;
}
.card-detall-img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}