.ant-card-body{
    padding: 1px;
    height: 200px !important;
}


.card-test{
    position: relative;
    z-index: 1000;
    bottom: 5rem;
    color: white;
    left: 1rem;
    font-size: 18pt;
    font-weight: bold;
    width: 90%;
    line-height: 15px !important;
}